body {
  min-height: 100vh;
  margin-left: 5px;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
}

.fecha {
  max-width: 9rem !important;
}

p {

  margin-bottom: 1rem;
}

.to-print {
  margin-top: 4rem;
}

form {
  /*padding: 1rem;*/
  border-radius: 0.5rem;
}



/*
@media (prefers-color-scheme: light) {
  .parametros {
    background-color: #f8f9fa; 
  }
}


@media (prefers-color-scheme: dark) {
  .parametros {
    background-color: #2c2c2c; 
  }
}*/

.parametros{
  padding: 1rem;
  border-radius: 5px;
}

table{
  border-radius: 5px !important;
}

[data-bs-theme="light"] .parametros {
  background-color: #f3f3f3; /* gris claro */
  /*color: #212529;    */        /* texto oscuro */
}

[data-bs-theme="dark"] .parametros {
  background-color: #323232;
  /*color: #f8f9fa;  */
}

.fecha{
  display: inline-block;
}

.col-id {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 5rem !important;
}

input[type="date"] {
  max-width: 8rem;
}

.logo{
  width: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}