<nav class="navbar navbar-expand-lg container-fluid bg-body-tertiary mb-4" data-bs-theme="dark">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item">
            <img src="../static/img/logo-resize.png" alt="logo UTEC" class="logo">
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3 {% if active_page == 'proyectos' %}active{% endif %}"
            aria-current="{% if active_page == 'proyectos' %}page{% endif %}"
            href="/">Todos los proyectos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3 {% if active_page == 'estadisticas' %}active{% endif %}"
            aria-current="{% if active_page == 'estadisticas' %}page{% endif %}"
            href="/estadisticas">Estadísticas</a>
        </li>
    </ul>

    <!-- botón para cambiar el tema -->
    <div class="form-check form-switch text-light px-4">
        <label class="btn" for="theme-toggle">
            Cambiar tema
            <input class="form-check-input mx-4" type="checkbox" id="theme-toggle">
        </label>
    </div>
</nav>